/*************************************************************************************************/
/*************************************************************************************************/
.main-logo {
  max-width: 100vw; }

/*************************************************************************************************/
/*************************************************************************************************/
.portfolio {
  vertical-align: top;
  text-align: center; }

.portfolio-card {
  display: inline-block;
  vertical-align: top;
  max-width: 350px;
  margin: 0.5rem; }

.portfolio-card .card-img-top {
  width: 80%; }

.portfolio-card .technology-list .technology-chip {
  margin-top: 0.5rem;
  display: inline-block; }

.portfolio-card .technology-list .technology-chip img {
  max-width: 50px;
  margin: 0.3rem 0.2rem; }

.portfolio-card .github-repo {
  max-width: 60px; }

@media screen and (min-width: 650px) {
  .portfolio-card {
    width: 45%; } }

@media screen and (min-width: 900px) {
  .portfolio-card {
    width: 31%;
    max-width: 325px; } }
